* {
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
}

#menu {
    display: flex;
    flex-flow: column;
    height: 100%;
    position: fixed;
    background-color: black;
}

#menu a {
    display: inline-flex;
    text-decoration: none;
}

.meu_menu {
    display: none !important;

}

.open .meu_menu {
    display: block !important;
    transition: ease-out;
}

#menu i, #menu span {
    display: flex;
    text-align: center;
    padding: 5px;
    padding-top: 50px;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
    justify-content: space-between;
    cursor: pointer;
}

header {
    background-image: linear-gradient(to bottom, rgb(44, 32, 32), rgb(176, 176, 87));
    color: black;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 50px;
    padding-top: 7px;
    padding-left: 5px;
}

table {
    width: 400px;
    border: 1px solid black;
    font-size: 20px;
}

img {
    width: 100px;
    height: 100px;
    padding-left: 70px;
}

td {
    background-color: black;
    color: white;
    padding-left: 30px
}

table, th, td {
    border: 1px solid;
    background-color: black;
    color: white;
  }

h3 {
    display: flex;
    text-align: center;
    padding: 18px;
    padding-top: 100px;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
    justify-content: space-between;
    cursor: pointer;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#botao-trash {
    width: 80px;
    font-size: 50px;
    background-color: rgb(86, 93, 51);

}