* {
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
}

body {
    background-color:darkgray;
}

h1 {
    font-size: 50px;
    text-align: center;
    background-color:red;
    border-style: solid;
    border-width: 5px
}

h2 {
    font-size: 50px;
    text-align: center;
    background-color:red;
    border-style: solid;
    border-width: 5px
}

h3 {
    font-size: 50px;
    text-align: center;
    background-color: greenyellow;
    border-style: solid;
    border-width: 5px
}