<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8" <meta http-equiv="X-UA-Compatible" content="IE=edge" <meta name="viewport"
        content="width=device-width, initial-scale=1.0" <title>
    </title>
    <link rel="stylesheet" href="public/css/adicionais.css">
</head>

<body>
    <header>
        <h1>SACOLA</h1>
    </header>

    <H2>Ingredientes:</H2>

    <div>
        <h3>Bacon</h3>
        <h4>Quantidade + (  ) -</h4>

    </div>

    <div>
        <h3>Ovo</h3>
        <h4>Quantidade + (  ) -</h4>

    </div>

    <div>
        <h3>Queijo</h3>
        <h4>Qauntidade + (  ) -</h4>
    </div>

    <div>
        <h3>hamburguer de carne</h3>
        <h4>Quantidade + (  ) -</h4>
    </div>

    <div>
        <h5>Seguir com compra</h1>
        <a href="file:///C:/Users/danie/Documents/GitHub/pagina%20statica/conclusao.html" target="_blank"></a>
    </div>

</body>
<nav id="menu">
    <i class="material-symbols-outlined" id="menu_button">menu</i>
    <a href="#">
        <i class="material-symbols-outlined">restaurant_menu</i>
        <span class="meu_menu">cardapio</span>
    </a>
    <a href="carrinho">
        <i class="material-symbols-outlined">shopping_cart</i>
        <span class="meu_menu">carrinho</span>

    </a>
    <a href="itens">
        <i class="material-symbols-outlined">rice_bowl</i>
        <span class="meu_menu">itens</span>
    </a>
</nav>

</html>
